body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#messages {
  margin-bottom: 10px;
}

.message {
  border: 2px;
  border-style: solid;
  padding: 3px;
  margin: 1px;
}

.message > p {
  margin: 3px;
}
